/* Simple css to follow the geometry of franklin-content (see franklin.css) */

header {
  padding-top: 1rem;
  position: relative;
  width: 100%;
  /* padding-left: 12.5%; */
  /* padding-right: 12.5%; */
  /* margin-bottom: 50px; */
}

header a {
  color: #000;
  text-decoration: underline;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
  header {
    /* max-width: 705px; */
    /* padding-left: 2rem;
    padding-right: 2rem; */
  }
}

/* on narrow device, reduce margins */
@media (max-width: 480px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
