/* Simple css to follow the geometry of franklin-content (see franklin.css) */

header {
    margin-top: 14px;
    margin-bottom: 3em;
    position: relative;
    padding-left: 12.5%;
    padding-right: 12.5%;

    /* font-family: monospace; */
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.header-nav:hover {
    opacity: 1;
}

.site-name {
    /* font-weight: bold; */
    font-size: 1.5em;
}

.site-name-link {
    text-decoration: none;
    color: inherit;
}

.site-name-link:hover {
    text-decoration: none;
    color: inherit;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
    header {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* on narrow device, reduce margins */
@media (max-width: 480px) {
    header {
        padding-left: 6%;
        padding-right: 6%;
    }
}

header hr {
    border: none;
    border-top: 1px solid
        color-mix(in srgb, var(--blockquote-color) 15%, transparent);
    margin: 1em 0;
}

.header-nav a {
    margin: 0 0.8em;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.header-nav a:hover {
    opacity: 1;
    text-decoration: none;
}
