/* Simple css to follow the geometry of franklin-content (see franklin.css) */

header {
    margin-top: 14px;
    position: relative;
    padding-left: 12.5%;
    padding-right: 12.5%;

    /* font-family: monospace; */
    /* margin-bottom: 50px; */
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    font-weight: bold;
    font-size: 1.5em;
}

.site-name-link {
    text-decoration: none;
    color: inherit;
}

.site-name-link:hover {
    text-decoration: none;
    color: inherit;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
    header {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* on narrow device, reduce margins */
@media (max-width: 480px) {
    header {
        padding-left: 6%;
        padding-right: 6%;
    }
    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

header hr {
    border: none;
    border-top: 1px solid
        color-mix(in srgb, var(--blockquote-color) 15%, transparent);
    margin: 1em 0;
}
